# ===== System Files =====
.DS_Store
Thumbs.db

# ===== Editor Settings =====
.vscode/
.idea/

# ===== GitHub Pages Build Output =====
_site/

# ===== Node / Python Cache =====
node_modules/
__pycache__/

# ===== Logs / Temp =====
*.log
*.tmp

# ===== Others =====
*.zip
*.rar



# 避免仓库越来越大
# 如果没 .gitignore，Git 会连临时缓存、缩略图、依赖包全上传，
# 网站几百 MB 是常事（白占空间，还推送巨慢）。

# 让历史版本干净、专业
# 别人 clone 你的仓库不会看到一堆本地环境文件
